@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Sans-Serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #000000, #2f2f2f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background: transparent;
    border-radius: 10px;
    box-shadow:0px 3px 15px #ffffff41;
    padding: 20px;
}

input{
    align-self: center;
    width: 320px;
    margin: 30px 5px;
    text-align: right;
    direction: rtl;
    padding: 5px;
    font-size: 30px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #ffffff41;
    outline: 0;
    color: #fff;
}

.display input:hover{
    cursor: auto;
    transform: none;
}

input::placeholder{
    color: #fff;
}

button{
    border: 0;
    outline: 0;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: transparent;
    font-size: 20px;
    color: #fff;
    box-shadow: -4px -4px 10px #ffffff17, 4px 4px 10px #000000c6;
}

button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: inset 4px 4px 10px #000000c6, inset -4px -4px 10px #ffffff17;
}

.operatorbtn{
    color: #1fdd0e;
}

.equalbtn{
    background: #ef880a;
}
